/*
@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"),
       url("fonts/cuprum.woff2") format("woff2"),
       url("fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "CuprumBold";
  font-weight: 700;
  font-style: normal;
  src: local("CuprumBold"),
       url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "CuprumBoldItalic";
  font-weight: 700;
  font-style: italic;
  src: local("CuprumBoldItalic"),
       url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "CuprumItalic";
  font-weight: 700;
  font-style: italic;
  src: local("CuprumItalic"),
       url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: normal;
  src: local("PTSans"),
       url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PTSansBold";
  font-weight: 700;
  font-style: normal;
  src: local("PTSansBold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}
*/
:root {
  --basic-top: #293449;
  --basic-navy: #32425C;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-footer: #293449;
  --basic-white: #ffffff;
  --basic-background:#F1F5F7;
  --basic-grey:#C5C5C5;
  --basic-header:#F9F5F0;
  --basic-filter: #F7F3EC;


  --special-yellow: #FFBF47;
  --special-blue:#3BBCE3;
  --special-lilac:#DC91D8;
  --special-greenlite:#8ED78F;
  --special-yellowlight:#FFD180;
  --special-success:#5FBB2D;
  --special-warning:#FFBF47;
  --special-error:#BA2732;
  --special-click:#1D2739;
  --special-border: #EAEAEA;
}
.page {
  height: 100%;
}

body {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-weight: 400;
  font-style: normal;

}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.page-body {
  background-color: var(--basic-white);
  font-family: "Cuprum", "PTSans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

h1 {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);

}

h2 {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);

}

h3 {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-navy);

}

h4 {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;


}

.button {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-red);
  padding-top: 11px;
  padding-bottom: 9px;
  border-style: none;
  color: var(--basic-white);
}

.element-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background: var(--basic-background) url("../img/bg-top.jpg") repeat-x;

  width: 100%;

  margin: 0 auto;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  padding-bottom: 40px;


}

.wrap-top-navigation {

  order: 0;
  grid-column: 1 / 4;

  margin: 0 auto;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;


}


.main-header-logo {
  display: block;


  height: 47px;
  background: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin: 0;
  text-align: center;



}

.main-header-logo img {

  margin: 12px 56px 0 56px;


}

.search-form {
  width: 550px;
  color: var(--basic-white);
  min-height: 42px;
  /*box-shadow: inset 0px -5px 0px rgb(255, 255, 255);*/
  width: 320px;
  box-sizing: border-box;
  margin: 9px 4px 0 17px;
  position: relative;
  padding-left: 20px;
  font-family: "Cuprum", "PTSans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;




}


.search-form input {
  background: var(--basic-top);
  width: 170px;
  border: none;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  align-self: center;


}

.search-form label::before {
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 0;

    color: var(--basic-white);

    font-size: 18px;
    line-height: 24px;





    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 4px;
    opacity: 0.3;


}

.search-form label {
  margin-left: 4px;
}


.site-navigation-top {
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  order: 0;
  color: var(--basic-white);

  min-height: 42px;

  justify-content: space-between;


  flex-wrap: nowrap;
  position: relative;

}

.button-bookmark, .button-cart {
  margin-left: 20px;
  margin-right: 40px;
}

.button-bookmark::before {
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    left: 0;
    top: 12px;

    color: var(--basic-white);

    font-size: 18px;
    line-height: 24px;

    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;


}



.button-bookmark a, .button-cart a {

  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;

  align-self: center;


}


.button-cart::before {
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    left: 147px;
    top: 12px;

    color: var(--basic-white);

    font-size: 18px;
    line-height: 24px;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;

}



.button-order {
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  width: 150px;
  height: 42px;
  background-color: var(--basic-green);
  padding: 9px 16px;
  box-sizing: border-box;
  margin: 0;
  align-self: flex-end;
}

.button-order:hover {
  background-color: var(--special-success);
}

.button-order:active {
  color: rgba(255, 255, 255, 0.5)

}


.button-order a, .button-cart a, .button-bookmark a {
  color: inherit;
}

.button-order img {
  filter: alpha(Opacity=50);
  opacity: 0.5;
  padding-top: 4px;
  margin-right: 4px;
}



.wrap-middle-header {

  grid-column: 1 / 4;

  margin: 0 auto;
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;



}

.main-header .wrap-middle-header h1 {
  display: block;
  padding: 0 30px 0 30px;

  width: 250px;
  margin-right: 50px;
  align-self: flex-start;
  margin-top: 0px;

}

.telephone {
  display: block;
  width: 300px;
  margin: -26px 0 0 0;
  position: relative;


}

.telephone a{
  display: block;
  width: 270px;
  height: 45px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

  padding: 6px 0 6px 80px;
  color: var(--basic-red);

  border: 3px solid #FFFFFF;
  box-sizing: border-box;


}

.telephone a::before {
  content: "";
  width: 27px;
  height: 27px;
  position: absolute;
  left: 40px;
  top: 12px;
  color: var(--basic-white);

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.telephone p {
  margin: -20px 30px 0 0;

  text-align: center;

}

.adress-top {
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-navy);
  margin-top: 12px;

}

.autorisation {

  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 45px;

  display: flex;
  justify-content: space-between;

  align-items: flex-start;

  position: relative;

  margin-top: -53px;
  padding-top: -50px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;



}

.button-login::before {
  content: "";

  position: absolute;
  width: 121px;
  height: 45px;
  padding: 0;
  margin: 0;
  font-family: "Cuprum", "PTSans", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;

  background-color: var(--basic-white);
  background-image: url("../img/icon-login-grey.png");
  background-position: 20px 13px;
  background-repeat: no-repeat;



}

.button-login a, .button-username a {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: var(--basic-navy);
  padding: 10px 10px 0 50px;


  position: absolute;

}

.button-autorisation a {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 24px;
  color: var(--basic-navy);
  padding: 10px 10px 0 25px;


  position: absolute;
}

.button-autorisation a:hover {
  color: var(--basic-red);
}

.button-autorisation a:active {
  color: var(--basic-gray);
}


.button-login a:hover {

  background-image: url("../img/icon-login.png");
  background-position: 20px 13px;
  background-repeat: no-repeat;
  color: var(--basic-red);
  position: absolute;
  background-color: var(--basic-white);
}
.button-login a:active {

  background-image: url("../img/icon-login-grey.png");
  background-position: 20px 13px;
  background-repeat: no-repeat;
  color: var(--basic-grey);
  position: absolute;

}


.button-autorisation {
  position: absolute;
  width: 150px;
  height: 45px;
  font-family: "Cuprum", "PTSans", sans-serif;
  margin-left: 10px;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  background: var(--basic-white);
  color: black;
  left: 130px;
}



.autorisation-profile {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  position: relative;

  margin-top: -53px;
  padding-top: -50px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;



  }

.button-username {

  width: 290px;
  height: 45px;
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  position: absolute;




  background: url("../img/icon-user-grey.png") 20px 12px no-repeat,
  url("../img/icon-logout-grey.png") 250px 14px no-repeat;
  background-color: var(--basic-white);


}

.button-username a {
  position: absolute;

  color: inherit;
  text-align: center;
  padding-top: 10px;

  box-sizing: border-box;
  margin-bottom: 6px;
}


.button-username:hover {
  color: black;
  background: url("../img/icon-user.png") 20px 12px no-repeat,
  url("../img/icon-logout.png") 250px 14px no-repeat;
  background-color: var(--basic-white);

}
.button-username:active {
  color: var(--basic-grey);
  background: url("../img/icon-user-grey.png") 20px 12px no-repeat,
  url("../img/icon-logout-grey.png") 250px 14px no-repeat;
  background-color: var(--basic-white);

}

li.my-orders {

  margin-top: 80px;
  display: block;
  align-self: flex-start;



}
li.my-orders::after {
  content: "";
  background-image: url("../img/dot.svg");
  background-repeat: no-repeat;
  left: 133px;
  top: 60px;
  display: block;
  position: absolute;

  width: 10px;
  height: 10px;
}

li.profile {

  margin-top: 80px;
  display: block;
  align-self: flex-end;


}


.my-orders a, .profile a {
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-navy);

  margin: 0 15px;


}

.my-orders a:hover, .profile a:hover {
  color: var(--basic-red);
}

.my-orders a:active, .profile a:active {
  color: var(--basic-grey);
}

.button-autorisation:hover {
  background: var(--basic-white);
  color: var(--basic-red);

}
.button-autorisation:active {
  background: var(--basic-white);
  color: var(--basic-grey);

}

.button-autorisation div {

  width: 100%;
  min-height: 45px;
  padding-left: 25px;
  padding-top: 12px;

}

.main-navigation {
  width: 940px;
  height: 60px;


  list-style: none;
  grid-column: 1 / 4;
  order: 3;
  margin: 20px auto 20px auto;


}

.main-navigation .menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background: var(--basic-navy);
  box-shadow: inset 0px -5px 0px #293449;
  min-height: 60px;
  padding: 0;
  box-sizing: border-box;


}

.main-navigation .menu-item, .menu-item-active {
  flex-grow: 1;
  margin: 0;
  padding: 16px;
  align-self: center;
  box-sizing: border-box;

  text-align: center;
}


.main-navigation .menu-item a, .main-navigation .menu-item-active a{
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);








}
.main-navigation .menu-item:hover {
  background-color: var(--basic-footer);
  color: var(--basic-white);
}
.main-navigation .menu-item:active {
  background-color: var(--special-click);
  color: var(--basic-white);
  opacity: 50%;
}


/*-------------------------Блок MAIN-------------------*/


.container {
  margin: 0 auto;
  width: 100%;
}

.features {

  margin: 0 auto;


  width: 940px;
  padding-top: 59px;
  display: flex;

 }



div.features-left-column {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 620px;


  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.features-right-column {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 320px;


  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;

}

div.feature-item {
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
}

div.feature-item:last-child {
  margin-bottom: 0;
}



.feature-item h2 {
  margin: 0;

  padding-left: 23px;
  padding-top: 20px;
}

.materials {
  background: url("../img/icon-new.png") 100% 0 no-repeat, url("../img/icon-1.png") 80% 50% no-repeat;
  background-color: var(--special-yellow);


}
.tools {
  background: url("../img/icon-2.png") 85% 50% no-repeat;
  background-color: var(--special-blue);


}
.technics {
  background: url("../img/icon-3.png") 85% 50% no-repeat;
  background-color: var(--special-lilac);


}
.action {
  background: url("../img/icon-4.png") 85% 50% no-repeat;
  background-color: var(--special-greenlite);


}
.delivery {
  background: url("../img/icon-5.png") 80% 50% no-repeat;
  background-color: var(--special-yellow);


}
.button-featured {
  display: block;

  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px;
  margin-left: 23px;
  margin-top: 18px;

  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  box-sizing: border-box;


}
ul.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;



}

.slide-1 {
  background: url("../img/Layer 99-2.jpg") 0 0 no-repeat;
  width: 620px;
  min-height: 266px;
  padding: 23px 24px 0 24px;
  box-sizing: border-box;


}

.slide-2 {
  background: url("../img/Layer 99.jpg") 0 0 no-repeat;
  width: 620px;
  min-height: 266px;
  padding: 23px 24px 0 24px;
  box-sizing: border-box;


}

.large {

  font-family: "Cuprum", "PTSans", sans-serif;
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-bottom: -10px;


}

.slider .slide-1 p, .slider .slide-2 p {

  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 400;

}

.button-pre {


  width: 22px;
  min-height: 40px;
  background: url("../img/icon-left.svg") 0 0 no-repeat;
  border: none;
  cursor: pointer;


}

.button-next {


  width: 22px;
  min-height: 40px;
  background: url("../img/icon-left.svg") 0 0 no-repeat;
  transform: rotate(180deg);
  border: none;
  cursor: pointer;




}

.wrap-button-next-pre {

  margin-top: 40px;

  display: flex;
  justify-content: space-between;




  width: 100%;
  height: 40px;

  flex-wrap: nowrap;
}

.open-catalog {
  position: absolute;
  bottom: 27px;
  left: 24px;
  width: 192px;
  cursor: pointer;
}

.wrap-points-slide {
  width: 28px;
  min-height: 14px;

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  top: 220px;
  left: 295px;

}

.point-slide {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.point-slide-active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  background-color: var(--basic-red);
  border: solid 2px white;


}
.wrap-slider {
  width: 620px;
  min-height: 266px;
  position: relative;
}

/*.features {

  margin: 0 auto;


  width: 940px;
  padding-top: 59px;

 }



.features-list {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 940px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;
}

.feature-item {
  width: 300px;
  height: 123px;


}



.feature-item h2 {
  padding-left: 23px;
  padding-top: 20px;
}

.materials {
  background: url("../img/icon-new.png") 100% 0 no-repeat, url("../img/icon-1.png") 80% 50% no-repeat;
  background-color: var(--special-yellow);
  grid-row: 1 / 2;
  grid-column: 1 / 2;

}
.tools {
  background: url("../img/icon-2.png") 80% 50% no-repeat;
  background-color: var(--special-blue);
  grid-row: 1 / 2;
  grid-column: 2 / 3;

}
.technics {
  background: url("../img/icon-3.png") 80% 50% no-repeat;
  background-color: var(--special-blue);
  grid-row: 1 / 2;
  grid-column: 3 / 4;

}
.action {
  background: url("../img/icon-4.png") 80% 50% no-repeat;
  background-color: var(--special-greenlite);
  grid-row: 2 / 3;
  grid-column: 3 / 4;

}
.delivery {
  background: url("../img/icon-5.png") 80% 50% no-repeat;
  background-color: var(--special-yellow);
  grid-row: 3 / 4;
  grid-column: 3 / 3;

}
.button-featured {
  width: 135px;
  height: 38px;
  background-color: rgba(255, 255, 255, 0.24);
  padding: 10px;
  margin-left: 23px;
  margin-top: 64px;
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;

}
.slider {

  width: 620px;
  height: 266px;
  background: url("../img/Layer 99.jpg") no-repeat;
  z-index: -100;
  grid-row: 2 / 4;
  grid-column: 1 / 3;



}
.slider p {

  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  font-weight: 400;
}
.large {

  display: block;
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;

}*/

.top-products, .top-manufacturers {

  width: 940px;
  margin: 0 auto;
  margin-top: 40px;



}

.wrap-section-header {

  width: 940px;
  height: 89px;
  background-color: var(--basic-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 10px 0 10px 0;
}

.top-products h3, .top-manufacturers h3 {


  padding-left: 28px;
  box-sizing: border-box;

}

.top-products .button, .top-manufacturers .button, .products .button {


  width: 192px;
  height: 38px;
  margin-right: 10px;

  box-sizing: border-box;



}

.top-list-products {

  width: 940px;
  height: 318px;
  margin: 0;
  padding: 0;


  display: flex;
  justify-content: space-between;

}
.top-list-products .product-item {

  width: 218px;
  height: 318px;
  border: solid 1px var(--special-border);
  background-color: var(--basic-white);
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;





}

.product-item a {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: black;
  text-align: center;
  align-self: center;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

}

.product-item img {
  margin: 10px auto 40px auto;
  align-self: center;

}

.product-item div.new {
  position: absolute;
  display: block;
  margin: -30px 0 0 148px;
  z-index: 1000;

}


.manufacturers-list {
  padding: 0;
  width: 940px;
  height: 330px;

  margin: 20px 0 20px 0;



  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}

.manufacturers-list .manufacturer-item {


  width: 220px;
  height: 145px;
  border: solid 1px var(--special-border);
  background-color: var(--basic-white);
  text-align: center;
  margin: 0;
  padding: 0;



}

.manufacturer-item a {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: black;
}

.services {


  width: 100%;

  background-color: var(--basic-background);
  padding-left: 0;
}

.wrap-services {
  width: 940px;
  padding: 64px 0 54px 0;
  margin: 0 auto;

}

.services h3 {
  color: black;
  padding: 0;
  margin: 0;
}

.services p {
  font-family: PT Sans;
  width: 420px;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: black;
  margin-top: 25px;
}

.slider-services {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 940px;
  height: 333px;
  padding: 0;
  margin: 0;


}
.slider-services ul {
  padding: 0;
  margin: 0;
  list-style: none;
  align-self: center;
}
.slider-services img {
  padding: 0;
  margin: 0;

  align-self: center;
}


.slider-services-slide {
  width: 619px;
  height: 283px;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:  var(--basic-background) url("../img/bg-services.png") right 20px no-repeat;
  margin-left: auto;
  margin-top: 100px;
  box-sizing: border-box;
}

.slider-services-slide p {
  width: 280px;
}

.shadow-services {

  background: url("../img/shadow-services.png") 0 0 no-repeat;
  width: 10px;
  height: 279px;

  position: absolute;
  left: 230px;
}

.slider-services li {
  width: 240px;
  height: 61px;


  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-navy);

  /*box-shadow: inset -5px 0px 5px 0px rgba(0, 0, 0, 0.24);*/


  padding-left: 22px;
  padding-top: 14px;
  box-sizing: border-box;

}
.slider-services a {
  color: inherit;
}

.slider-services .li-active {
  color: var(--basic-navy);
  background-color: var(--basic-white);
}

.wrap-about-contacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  margin: 0 auto;

  padding: 40px 0 60px 0;
}

.about-company {
  width: 618px;

}

.about-company h3 {
  color: black;
}

.about-company p {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  width: 460px;

}

.transports-list {
  width: 420px;
  margin-bottom: 20px;
}
.transports-list .transport-item {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  list-style-image: url("../img/red-tire.png");
  vertical-align: middle;
  margin-bottom: 12px;
}
.about-company .button {
  position: relative;
  display: block;
  width: 220px;
}

.contacts {
  margin: 0;
}

.contacts h3 {
  color: black;
}

.contacts p {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

}
.contacts .button {
  position: relative;
  display: block;
  width: 300px;
  margin-top: 25px;
}

.modal-window {
width: 620px;
height: 430px;
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
margin: auto;
display: flex;

font-family: "Cuprum", "PTSans", sans-serif;

font-weight: normal;
font-size: 18px;
line-height: 24px;


background: var(--basic-white);
padding: 46px 80px 0 81px;
filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
border-top: solid 7px var(--basic-red);
z-index: 1000;
box-sizing: border-box;


}

.form-feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-start;

}

.form-feedback p {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;



padding-right: 10px;
margin-bottom: 20px;
}

.form-feedback p input {
  width: 220px;
}

.modal-gray .button-modal {
margin: 0 auto;
position: relative;
width: 466px;
left: 80px;
top: 37px;
bottom: 37px;

cursor: pointer;



}
.modal-window .button-close {
  width: 21px;
  height: 21px;
  position: absolute;

  background-image: url("../img/icon-close.svg");
  background-color: var(--basic-white);
  border: none;
  left: 590px;
  top: 10px;
  cursor: pointer;


}
.modal-gray {
  position: absolute;
  width: 620px;
  height: 112px;
  background-color: var(--special-border);
  left: 0;
  bottom: 0;
}
.yourmessage textarea {
  width: 460px;
  min-height: 114px;

}
.yourmessage {
  margin-top: 0;
}


.add-to-cart {
  display: block;
  width: 620px;
  height: 282px;
  margin: 0 auto;
}

.add-to-cart .button-modal, .add-to-cart span {
  width: 192px;
  float: left;
}

/*--------------------Каталог------------------------------*/

.breadcrumbs {
  width: 940px;
  margin: 0 auto;
  padding-left: 0px;
  padding-top: 20px;






}

.breadcrumbs-list  {
  margin: 0;
  padding: 0;
  list-style: none;


  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;


}

.breadcrumbs-list li {
  margin: 0 20px 0 24px;



}

.breadcrumbs-list li:first-child {
  margin: 0 20px 0 0;



}

.breadcrumbs-list li::after {
  content: "";
  font-family: "PT Sans", sans-serif;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: black;
  text-transform: uppercase;
  position: absolute;
  margin: 5px 20px 0 20px;

  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") 0 0 no-repeat;


}

.breadcrumbs-list li:last-child::after {
  content: "";
  display: none;
  margin-right: 0;
}

.breadcrumbs-list a {
color: inherit;
font-family: "PT Sans", sans-serif;

font-weight: 400;
font-size: 13px;
line-height: 18px;
text-transform: uppercase;

}

.breadcrumbs-list img {

  vertical-align: middle;
  margin-right: 0px;



}


.catalog-list {
  width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;


}

.catalog-list h3 {
  color: var(--basic-top);
  background-color: var(--basic-background);
  padding: 29px;

  margin-top: 20px;

}

.wrap-filter-catalog-sort {
  display: flex;
  justify-content: space-between;

}

.catalog-sort {
  display: flex;
  width: 700px;
  height: 38px;
  justify-content: space-around;
  align-items: center;

  background-color: var(--basic-filter);

  margin: 0 auto;
  padding-left: 0px;
  margin-left: 0px;
  border-radius: 4px;





}

.catalog-list .catalog-sort h4 {
  color: black;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-left: 0;

  text-transform: uppercase;

  margin-top: 18px;
  align-self: center;
}

.catalog-sort-item a, .sort-down a, .sort-up a {

  color: black;
  padding: 10px 0 10px 20px;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;

  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;

}

.catalog-sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;


}
li.catalog-sort-item a {
font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;

  text-transform: uppercase;

}

.catalog-list h4 {
  color: black;
  background-color: var(--basic-filter);
  border-radius: 4px;
  padding: 10px 0 10px 18px;
  width: 220px;
  margin-right: 20px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 0;

  text-transform: uppercase;

 }

 .sort-up-down {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   align-items: center;
 }


/*============================FILTER=============================*/

.wrap-filter-catalog-products {
  width: 940px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;

}

.form-filter {
  width: 220px;
  margin: 0;
  padding: 0;

}

.form-filter legend {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;

}

.form-filter fieldset {
  border: none;
  margin: 0;
  padding: 0;

}

.cost-range {
  width: 220px;
  height: 80px;
  border-radius: 4px;
  background-color: var(--basic-filter);
  padding-top: 39px;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  position: relative;

}
.cost-range .bar {
width: 70%;
height: 2px;
background: #00ca74;


}
.cost-range .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;



}

.cost-range .toggle-min {
  left: 18px;
}

.cost-range .toggle-max {
  left: 140px;
}


.price-range {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.price-range label {
text-transform: uppercase;
font-family: "PTSans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 18px;
}

.price-range input {


  padding: 0px;
  margin-left: 0px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
}

.defis {
  width: 10px;
  height: 2px;
  background-color: black;
  margin: 20px 5px;
}

.form-filter div.line {

  width: 220px;
  text-align: center;
  background-color: var(--basic-grey);
  height: 1px;
  margin-top: 20px;
}

.filter-cost input {
  width: 100px;
  height: 38px;
  background-color: var(--basic-filter);
  border: none;
  text-align: center;
  border-radius: 4px;

}

.cost-range .scale {
  height: 2px;
  background: #d7dcde;
}

.filter-manufacturer-item label {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-transform: uppercase;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;

}

.filter-power-item label {
  color: black;
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  text-transform: uppercase;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 2px;
  width: 19px;
  height: 19px;
  border: 2px var(--basic-grey) solid;
  border-radius: 4px;

}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -42px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px var(--basic-grey) solid;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-grey);
  border-radius: 50%;
}

.filter-button {
  color: black;
  background-color: var(--basic-white);
  border: solid 1px var(--basic-grey);
  width: 220px;
}

.products {

  width: 700px;
}

.products .products-list {

  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;


}

 .product-item {
  position: relative;

  width: 218px;
  min-height: 318px;

  border: solid 1px var(--special-border);
  background-color: var(--basic-white);
  text-align: center;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

}

.products .products-list .product-item {
  background-color: var(--basic-white);

}

.products-list .product-item .hovered {


  position: absolute;
  width: 218px;
  min-height: 318px;
  height: 100%;
  border: solid 1px var(--special-border);
  background-color: var(--basic-white);

  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  text-align: center;
  padding: 10px 0 10px 0;
  left: -1px;
  top: -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

}

.hovered a {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;







}

.hovered span {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;






}



.products-list .product-item .main-body:hover {
  opacity: 0;
}

.products-list .product-item div.show{
  opacity: 0;
}

.products-list .product-item div.show:hover {
  opacity: 1;
}

.button-to-order {

  position: relative;
  width: 135px;
  height: 38px;
  margin: 0;


  color: var(--basic-white);

  text-transform: uppercase;

  border-style: none;
  background-color: var(--basic-green);
  font-family: "Cuprum", "PTSans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  padding-top: 0px;

  box-sizing: border-box;
  cursor: pointer;


}

.button-to-order::before {
  position: absolute;
  width: 135px;
  height: 38px;


  content: "";

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 30px;
  top: 10px;
  opacity: 0.5;


}

.wrap-buttons-order-bookmarks-img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 150px;
  margin: 0 auto;
  border: #ca0097 solid 1px;
  margin-bottom: 0;
  padding: 10px;
  box-sizing: border-box;

}

.container-img {
  position: relative;
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 auto;
  border: #ca0097 solid 1px;
  margin-bottom: 0;
  object-fit: contain;
  box-sizing: border-box;

}



.button-to-bookmarks {
  position: relative;
  width: 135px;
  height: 38px;
  border-radius: 2px;
  text-transform: uppercase;

  background-color: var(--basic-white);
  color: black;
  border: solid 3px var(--basic-green);
  margin: 10px 0 0 0;




}

.product-item span {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
  display: inline-block;
  margin: 10px 0 10px 0;
}

.main-body .button-to-cart, .hovered .button-to-cart {
  position: relative;
  display: block;
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);

  border-radius: 4px;
  border-style: none;
  background-image: url("../img/corners.svg");
  background-position: right;
  background-repeat: no-repeat;
  color: var(--basic-white);
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0 auto;

  align-self: flex-end;

}

.pagination {

  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 20px;
}

.pagination-item {
  color: black;
  background-color: var(--basic-white);
  border: solid 1px var(--basic-grey);
  width: 38px;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  padding-top: 6px;
  margin-right: 10px;
  box-sizing: border-box;

}
.pagination-item-active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;
}

.pagination-item-next {
  display: block;
  color: black;
  background-color: var(--basic-white);
  border: solid 1px var(--basic-grey);
  width: 140px;
  height: 38px;
  border-radius: 2px;

  box-sizing: border-box;
  padding: 6px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pagination-item a, .pagination-item-active a, .pagination-item-next a {
  color: inherit;

}

.wrap-pagination {

  min-height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

}

.catalog-section-description {
  width: 100%;
  background-color: var(--basic-background);

  margin: 0 auto;
  display: block;

}

.wrap-catalog-section-description {
  margin: 0 auto;
  width: 940px;
  padding: 50px 0;


}

.catalog-section-description h3 {
  width: 940px;
  color: var(--basic-top);
  background-color: var(--basic-background);
  display: inline-block;
  margin: 0 auto;

}


/*Футер*/

.main-footer {


  background: var(--basic-footer) url("../img/bg-footer.jpg") repeat-x;
  width: 100%;






}

.wrap-main-footer {

  display: grid;

  width: 940px;
  margin: 0 auto;




  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 20px;

}

.footer-logo {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin: 0;
}

.footer-address, .footer-address a {
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  margin-top: 22px;
  width: 380px;

}

.footer-navigation {
  margin: 37px 0 0 0;


  grid-row: 1 / 2;
  grid-column: 2 / 4;

  display: flex;

  justify-content: flex-end;

}

.footer-navigation .menu-item a, .footer-navigation .menu-item-active a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;

  padding: 16px;


}
.footer-navigation .menu-item a:hover {
  background-color: var(--basic-footer);
  color: var(--basic-white);
}
.footer-navigation .menu-item a:active {
  background-color: var(--special-click);
  color: var(--basic-white);
  opacity: 50%;
}

.double-navigation {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  margin-top: 34px;
  display: flex;
  justify-content: flex-end;
}
.double-navigation .menu-item a, .double-navigation .menu-item-active a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
  margin-top: 37px;




}
.double-navigation .menu-item a:hover {
  background-color: var(--basic-footer);
  color: var(--basic-white);
}
.double-navigation .menu-item a:active {
  background-color: var(--special-click);
  color: var(--basic-white);
  opacity: 50%;
}
.copyright {
  font-family: "Cuprum", "PTSans", sans-serif;

  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  width: 230px;
}
.social-buttons-list {
  width: 100px;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  display: flex;
}
.social-buttons-list .item {
  align-self: center;
}
.appendix-list {

  grid-row: 3 / 4;
  grid-column: 3 / 4;

  display: flex;
  width: 286px;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;

  box-sizing: border-box;



}

.appendix-list ul {
  margin: 0;
  padding: 0;



}

.appendix-list li {
  font-family: "Cuprum", "PTSans", sans-serif;
  align-self: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  display: flex;
  flex-direction: column;

  box-sizing: border-box;


  margin-right: 20px;

}

.appendix-list li.item a {
  color: var(--special-yellowlight);

}
